@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}

a {
  display: block;
  color: hsl(245, 75%, 52%);
}

a:visited {
  color: hsl(245, 75%, 62%);
}

a:hover {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(225, 100%, 94%);
}

.box {
  background-color: #fff;
  max-width: 400px;
  border-radius: 12px;
}

.box-image img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.box-info {
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.box-info h3 {
  font-size: 1.5rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.box-info p {
  text-align: center;
  color: hsl(224, 23%, 55%);
  line-height: 1.4;
}

.box-info-plan {
  display: flex;
  background-color: hsl(225, 100%, 98%);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
}

.link {
  display: flex;
  align-items: center;
}

.box-info-payment {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.box-info-plan span {
  color: hsl(223, 47%, 23%);
  font-weight: 700;
}

.box-info-payment button {
  border: none;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
}

.box-info-payment button:first-child {
  background-color: hsl(245, 75%, 52%);
  font-weight: 700;
  color: #fff;
  transition: background-color 0.3s;
}

.box-info-payment button:first-child:hover {
  background-color: hsl(245, 77%, 62%);
}

.box-info-payment button:last-child {
  color: hsl(224, 23%, 55%);
  font-weight: bold;
  transition: color 0.3s;
}

.box-info-payment button:last-child:hover {
  color: #000;
}

@media (max-width: 450px) {
  .box-info {
    padding: 10px 20px;
  }
}
